@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

html {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: #faf6ef;
  width: 100%;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

.wrapper {
  margin-left: 25px;
  margin-right: 25px;
}

* {
  box-sizing: border-box;
}